@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Love+Ya+Like+A+Sister&family=Montserrat+Alternates:ital,wght@0,300;0,600;0,700;0,800;0,900;1,100;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*..........GENERAL......... */


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h4 {
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

/* code taken from: https://coder-coder.com/background-image-opacity/ */
body::before {
    background: url('/static/images/wood-background.jpg') no-repeat center center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {
    margin: 1.8rem 0;
}
/*..........HEADER.......... */

.brand-logo {
    margin-left: 30px;
}

/*..........FLASHED MESSAGES.........*/

.flashes h4 {
    line-height: 2;
}

/*........MATERIALIZE CARDS..........*/

.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

/*......MODAL.....*/

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px;
}

/*...........MEDIA QUERIES............*/

@media only screen and (max-width: 500px){
 
}