@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Love+Ya+Like+A+Sister&family=Montserrat+Alternates:ital,wght@0,300;0,600;0,700;0,800;0,900;1,100;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*..........GENERAL......... */

html {
    background-color: white  !important;
    font-family: 'Quicksand', sans-serif;
}

.page-footer {
    padding-top: 20px;
    color: white ;
    background-color: white  !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #013220;
    font-weight: 600;
}

h4 {
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}


/* code taken from: https://coder-coder.com/background-image-opacity/ */
body::before {
    background: url('/static/images/wood-background.jpg') no-repeat center center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {
    margin: 1.8rem 0;
}

/*.........BTN...............*/

a.btn-large.blue.hvr-grow {
    color: black;
}

/*..........HEADER.......... */

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-family: 'Love ya like a sister', sans-serif;
    padding: 0;
}
.brand-logo {
    margin-left: 30px;
}

nav ul a {
    color: black;
}

/*..........FLASHED MESSAGES.........*/

section .row .flashes{
    margin-top: 30px;
}

/*..............FOOTER..............*/

ul.list-inline.social-links {
    margin: 0px;
    padding: 0px;
}

.list-inline-item {
    display: inline;
    font-size: 30px;
    margin: 2px;
    padding: 2px;
}

/*........MATERIALIZE CARDS..........*/

.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

strong {
    font-weight: 800;
}

/*......MODAL.....*/

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px;
}

/*...........MEDIA QUERIES............*/

@media only screen and (max-width: 500px){
    
    nav .brand-logo.left {
        font-size: 18px;
        left: 0.5rem;
    }
    
}