{% extends "base.html" %}
{% block content %}

<!-- Display 500.html page if a 500 error occurs-->
<h1 class="center-align">Internal Server error</h1>
<div class="row error center-align">
    <div class="col s10 offset-s1">
        <div class="card-panel teal accent-1">
            <div class="card-content">
                <h1 class="center-align"> Oh no! Something went wrong...</h1>
                <h5>Try to refresh this page or contact us through our social linkss if the problem persist</h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}