{% extends "base.html" %}
<!--Register form -->
{% block content %}

<h3 class="center-align">Log In</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">

            <!--Username field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix teal-text text-lighten-1"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9@._]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>

            <!--password field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix teal-text text-lighten-1"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9@._]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <!--Submit button to login-->
            <div class="row">
                <button type="submit" class="col s12 btn-large teal lighten-1 text-shadow" aria-label="Log in">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Still not part of the family? <br>
            <a href="{{ url_for('register') }}" class="teal-text text-lighten-1 btn-large white hvr-grow">Join Us
                Here!</a>
        </p>
    </div>
</div>

{% endblock %}