{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
    {{ recipe.recipe_name }}<br>
    {{ recipe.course_type}}<br>
    {{ recipe.recipe_difficulty }}<br>
    {{ recipe.serves }}<br>
    {{ recipe.vegetarian }}<br>
    {% endfor %}


    <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/wood-background.jpg')}}">
              <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="fas fa-pen"></i></a>

            </div>
            <div class="card-content">
                <span class="card-title">Tortilla</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}