{% extends "base.html" %}
{% block content %}

    <h3 class="center-align text-shadow">All Recipes</h3>
    
    <!-- Add recipe Modal Trigger -->
    <div class="center-align">
        <button id="add_recipe_btn" data-target="add_recipe_modal" class="btn-large modal-trigger blue center-align hvr-grow"><i class="fas fa-plus-circle prefix"></i> Add a New Recipe</button>
        {% include 'add_recipe.html' %}
    </div>

    <!--iterate through recipes on db and display them in cards-->
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.image_url }}">
                    <a class="btn-floating halfway-fab waves-effect waves-light green hvr-grow">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title"><strong>{{ recipe.recipe_name }}</strong></span>
                    {% if recipe.vegetarian == "on" %}
                    <i class="fas fa-carrot light-green-text text-lighten-1 tooltipped"
                    data-position="right" data-tooltip="Vegetarian"></i>
                {% endif %}
                    <p>{{ recipe.recipe_description }}</p>
                    <a class="btn-floating halfway-fab waves-effect waves-light red hvr-grow">
                        <i class="fas fa-trash-alt"></i>
                    </a>
            
                </div>
                <div class="card-action center-align">
                    <a href="#" class="white-text text-darken-3 btn-small hvr-float-shadow">See full recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}